#aud1
{
    color: rgb(255, 255, 255);
    background-image: url(../img/aud1.jpg);
    background-size: 1500px;
    height: 800px;
    margin-bottom: 20px;
}
#aud2
{
    color: rgb(255, 255, 255);
    background-image: url(../img/aud2.jpg.opdownload);
    background-size: 1500px;
    height: 800px;
    margin-bottom: 20px;
}
#aud3
{
    color: rgb(255, 255, 255);
    background-image: url(../img/aud3.jpg.opdownload);
    background-size: 1500px;
    height: 800px;
    margin-bottom: 20px;
}
#aud4
{
    color: rgb(255, 255, 255);
    background-image: url(../img/aud4.jfif);
    background-size: 1500px;
    height: 800px;
    margin-bottom: 20px;
}
#aud5
{
    color: rgb(255, 255, 255);
    background-image: url(../img/aud5.jpg);
    background-size: 1500px;
    height: 800px;
    margin-bottom: 20px;
}
#aud6
{
    color: rgb(255, 255, 255);
    background-image: url(../img/aud6.jpg);
    background-size: 1500px;
    height: 800px;
    margin-bottom: 20px;
}